header {
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0.5rem;
}

.row {
  height: 2rem;
  display: flex;
}

#game-board {
  visibility: hidden;
}

#display-row .letter-box {
  border-bottom: 0.2rem solid gray;
}

.letter-box {
  margin: 2px;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#keyboard div {
  display: flex;
}

.second-row {
  margin: 0.5rem 0;
}

.keyboard-button {
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem;
  margin: 0 2px;
  cursor: pointer;
}

.button {
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem;
  margin: 0.3rem;
  align-items: center;
}

#reload-button, #search-button {
  visibility: hidden;
}
